@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;

}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-size: 14px;
    color: #333;
}
img{
    vertical-align: middle;
}
table{
    border-collapse: collapse;
}
.clear_fix::before ,  .clear_fix::after{
    content: "";
    display: block;
    clear: both;
}